.inputContainer {
  position: relative;
  width: 100%;
  .input {
    all: unset;
    width: 100%;
    background-color: #251e40;
    border-radius: 8px;
    font-size: 16;
    border: 1px solid #533f9c;
    padding: 10px;
    padding-left: 34px;
    color: white;
    box-sizing: inherit;
    &::placeholder {
      color: white;
    }
    &:focus {
      border-color: white;
      &::placeholder {
        color: transparent;
      }
    }
  }
  svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.completeBox {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #aaa8e8;
  padding: 20px;
  border-radius: 8px;
  z-index: 90;
  height: 200px;
  overflow: scroll;
  button {
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #4a5782;
  }
}
