.table {
  width: 100%;
  margin-top: 10px;
  overflow-x: auto;
}

.tableHeader {
  width: 100%;
  height: 70px;
  background-color: #1c172b;
  padding-left: 8%;
  padding-right: 8%;
  svg {
    min-width: 30px;
    min-height: 30px;
  }
  button:nth-child(1) {
    flex: 1;
  }
  button:nth-child(2) {
    flex: 2;
    display: flex;
  }
  button:nth-child(3) {
    flex: 3;
    display: flex;
  }
  button:nth-child(4) {
    flex: 1;
    display: flex;
  }
}

.tableRow {
  width: 100%;
  height: 60px;
  clip-path: polygon(50% 0%, 100% 0, 100% 50%, 95% 100%, 0 100%, 0 50%, 5% 0);
  background-color: #251e40;
  padding-left: 8%;
  padding-right: 8%;
  &:hover {
    background-color: #2c2250;
  }
  div:nth-child(1) {
    flex: 1;
  }
  div:nth-child(2) {
    flex: 2;
  }
  div:nth-child(3) {
    flex: 3;
  }
  div:nth-child(4) {
    flex: 1;
  }
}
.tableRowCountry {
  background-color: #2d2159;
}

.countryImage {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-right: 10px;
}

.tableRowGroupContainer {
  width: 100%;
  .tableSubRow {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .tableHeader {
    button:nth-child(3) {
      display: none;
    }
    svg {
      display: none;
    }
  }
  .tableRow {
    div:nth-child(3) {
      display: none !important;
      background-color: red;
    }
  }
}
